Introduction to Python

Question1: In the code cell below, use the print() function to print out the phrase: Hello, world!

In [2]:
# Print the traditional hello world

print('Hello, world!')

Hello, world!

Types in Python

Question 1: What is the data type of the result of: 6 / 2?
Question 2: What is the type of the result of: 6 // 2? (Note the double slash //.)

In [3]:
# any division with a single slash always gives a float
type(6/2)

float

In [4]:
type(6//2)

int

Expression

Question 1: Let's write an expression that calculates how many hours there are in 160 minutes:

In [5]:
160/60

2.6666666666666665

Expression and Variables in Python

Question 1: What is the value of x where x = 3 + 2 * 2
Question 2: What is the value of y where y = (3 + 2) * 2?

In [6]:
x = 3 + 2 * 2
x

7

In [7]:
y = (3 + 2) * 2
y

10

Strings

Question 1: Create a variable with your name as its values
Question 2: print out the first three elements from your name:
Question 3: Use a stride value of 2 to print out every second character of your name variable:
Question 4: Print out a backslash:
Question 5: Convert your name to upper case and store it as a new variable

In [8]:
# Question 1

x = "Amina Isa"

In [9]:
# Question 2

print(x[0:3])

Ami

In [10]:
# Question 3

x[::2]

'AiaIa'

In [11]:
# Question 4

print('\\')

\

In [13]:
# Question 5

uppername_name = x.upper()

Consider the variable 
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

Question 1: Find the first index of the sub-string snow
Question 2: Find the first index of the sub-string Mary
Question 3: In the variable g, replace the sub-string Mary with Bob
Question 4: Upload all to Git repository

In [14]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [15]:
# Question 1

g.find('snow')

95

In [16]:
# Question 2

g.find('Mary')

0

In [17]:
# Question 3

print(g.replace('Mary', 'Bob'))

Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go

In [ ]:
Tuple

Consider the following tuple:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco") 

Question 1: Find the length of the tuple, genres_tuple
Question 2: Access the element, with respect to index 3
Question 3: Use slicing to obtain indexes 3, 4 and 5
Question 4: Find the first two elements of the tuple genres_tuple
Question 5: Find the first index of "disco"
Question 6: Generate a sorted List from the Tuple C_tuple=(-5, 1, -3)

In [18]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [19]:
# Question 1

len(genres_tuple)

8

In [20]:
# Question 2

genres_tuple[3]

'hard rock'

In [21]:
# Question 3

genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [22]:
# Question 4

# to print the first two elements
print(genres_tuple[0])
print(genres_tuple[1])

# to get the first two elements
genres_tuple[0:2]

pop
rock

('pop', 'rock')

In [23]:
# Question 5

genres_tuple.index('disco')

7

In [24]:
# Question 6

C_tuple = (-5, 1, -3)
sorted_list = sorted(C_tuple)
sorted_list

[-5, -3, 1]

Lists

Question 1: Create a list a_list, with the following elements 1, hello, [1,2,3] and True
Question 2: Find the value stored at index 1 of a_list
Question 3: Retrieve the elements stored at index 1, 2 and 3 of a_list
Question 4: Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']

In [26]:
# Question 1

a_list = [1, 'hello', [1,2,3], True]

In [27]:
# Question 2

a_list[1]

'hello'

In [28]:
# Question 3

a_list[1:4]

['hello', [1, 2, 3], True]

In [29]:
# Question 4

A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

Dictionary

Question1: Consider the following Dictionary 
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
a: In the dictionary soundtrack_dict what are the keys?
b: In the dictionary soundtrack_dict what are the values ?

Question 2: The Albums Back in Black, The Bodyguard and Thriller have the following music recording sales in millions 50, 50 and 65 respectively
a: Create a dictionary album_sales_dict where the keys are the album name and the sales in millions are the values
b: Use the dictionary to find the total sales of Thriller
c: Find the names of the albums from the dictionary using the method keys
d: Find the names of the recording sales from the dictionary using the method values

In [30]:
soundtrack_dic = {"The Bodyguard":"1992", "Saturday Night Fever":"1977"}
soundtrack_dic

{'The Bodyguard': '1992', 'Saturday Night Fever': '1977'}

In [31]:
# Question 1a

soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [32]:
# Question 1b
soundtrack_dic.values()

dict_values(['1992', '1977'])

In [33]:
# Question 2a

album_sales_dict = {"Back in Black": 50, "The Bodyguard": 50, "Thriller": 65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

In [34]:
# Question 2b

album_sales_dict["Thriller"]

65

In [35]:
# Question 2c

album_sales_dict.keys()

dict_keys(['Back in Black', 'The Bodyguard', 'Thriller'])

In [36]:
# Question 2d

album_sales_dict.values()

dict_values([50, 50, 65])

Conditions

Queation 1: Write an if statement to determine if an album had a rating greater than 8. \
Test it using the rating for the album “Back in Black” that had a rating of 8.5. \
If the statement is true print "This album is Amazing!"

Question 2: Write an if statement to determine if an album came out before 1980 or in \
the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [37]:
# Question 1 

rating = 8.5

if rating > 8: 
    print('This album is Amazing!')

This album is Amazing!

In [43]:
# Question 2

year = input('Please type the year: ')
year = int(year)

if (year < 1980) or (year == 1991) or (year == 1993):
    print(year)

Please type the year:  1992

Set

Question 1: Convert the list ['rap','house','electronic music', 'rap'] to a set
Question 2: Consider the list A = [1, 2, 2, 1] and set B = set([1, 2, 2, 1]), does sum(A) = sum(B)
Question 3: Create a new set album_set3 that is the union of album_set1 and album_set2
Find out if album_set1 is a subset of album_set3

In [44]:
# Question 1

set(['rap','house','electronic music', 'rap'])

{'electronic music', 'house', 'rap'}

In [45]:
# Question 2
# Double equals sign is a comparator (a single one is an assignment)

A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
print(A)
print(sum(A))
print(B)
print(sum(B))

sum(A) == sum(B)

[1, 2, 2, 1]
6
{1, 2}
3

False

In [47]:
# Question 3

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [48]:
# Question 4

album_set1.issubset(album_set3)

True